<div class="container col-md-8" style="margin-left: 300px;">
  <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
    
    <div class="col">
      <div class="card shadow-sm">
        <img src="https://assets.cinemark-core.com/5db771be04daec00076df3f5/vista/movies/65099dfae52fc9000824f654/common/terrifier-3-100390-1729694040326" alt="Terrifier 3" class="img-poster">
        <div class="d-flex justify-content-center">
          <div class="btn-group" >
            <button type="button" class="btn btn-sm btn-outline-secondary" >Ver horarios</button>
          </div>
        </div>
      </div>
    </div>
    
    <div class="col">
      <div class="card shadow-sm">
        <img src="https://assets.cinemark-core.com/5db771be04daec00076df3f5/vista/movies/66d8e5539c68d0f144831085/common/venom-3-99852-1725546552190" alt="Venom 3" class="img-poster">
        <div class="d-flex justify-content-center">
          <div class="btn-group">
            <button type="button" class="btn btn-sm btn-outline-secondary"[routerLink]="['/cartelera/funciones']">Ver horarios</button>
          </div>
        </div>
      </div>
    </div>
    
    <div class="col">
      <div class="card shadow-sm">
        <img src="https://assets.cinemark-core.com/5db771be04daec00076df3f5/vista/movies/66d8de4dd031b2c2d1fb4edb/common/robot-salvaje-99799-1725489401887" alt="Robot Salvaje" class="img-poster">
        <div class="d-flex justify-content-center">
          <div class="btn-group">
            <button type="button" class="btn btn-sm btn-outline-secondary">Ver horarios</button>
          </div>
        </div>
      </div>
    </div>
    
    <div class="col">
      <div class="card shadow-sm">
        <img src="https://assets.cinemark-core.com/5db771be04daec00076df3f5/vista/movies/66d8e5539c68d0f14483108c/common/gladiador-2-99853-1729169776938" alt="Gladiador 2" class="img-poster">
        <div class="d-flex justify-content-center">
          <div class="btn-group">
            <button type="button" class="btn btn-sm btn-outline-secondary">Ver horarios</button>
          </div>
        </div>
      </div>
    </div>

    <div class="col">
      <div class="card shadow-sm">
        <img src="https://assets.cinemark-core.com/5db771be04daec00076df3f5/vista/movies/66316c9152959f467264a3a7/common/el-tiempo-que-tenemos-100589-1730999145806" alt="El Tiempo que Tenemos" class="img-poster">
        <div class="d-flex justify-content-center">
          <div class="btn-group">
            <button type="button" class="btn btn-sm btn-outline-secondary">Ver horarios</button>
          </div>
        </div>
      </div>
    </div>

    <div class="col">
      <div class="card shadow-sm">
        <img src="https://assets.cinemark-core.com/5db771be04daec00076df3f5/vista/movies/6634e1f4b56bb98460dc0568/common/codigo-traje-rojo-100590-1730765469642" alt="Código Traje Rojo" class="img-poster">        <div class="d-flex justify-content-center">
          <div class="btn-group">
            <button type="button" class="btn btn-sm btn-outline-secondary">Ver horarios</button>
          </div>
        </div>
      </div>
    </div>
    
  </div>
</div>